<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ head_title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
  </head>

  <body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>
    {% include '../components/template/header.twig' %}
    <main>
      {% block page %}{% endblock %}
    </main>
    {% include '../components/template/footer.twig' %}
    {% include '../components/template/footer-scripts.twig' %}
  </body>
</html>
